<div class="row">
    <div class="col">
        <mat-toolbar class="toolbar">
            <span>
                <a class="logo" [routerLink]="['/home']">
                    <mat-icon>eco</mat-icon>EasyM@rt
                </a>
            </span>

            <div class="spacer"></div>
            <button mat-button class="cart_btn" [routerLink]="['cart']">
                <!-- <mat-icon>add_shopping_cart</mat-icon> -->
                <mat-icon matBadge={{cartCount}} matBadgeColor="warn">add_shopping_cart</mat-icon>&nbsp;&nbsp;Cart
            </button>&nbsp;
            <button *ngIf="!showButton" mat-raised-button [routerLink]="['login']">
                <mat-icon>login</mat-icon>&nbsp;&nbsp;Login
            </button>


            <button mat-button [matMenuTriggerFor]="menu" *ngIf="showButton" style="font-size: 18px; color: white;">
                <img [src]="this.data.imagePath" class="rounded-circle" style="width: 40px; height: 40px;">&nbsp;
                {{this.data.firstName}}
                <mat-icon>expand_more</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <!-- -------PROFILE-------------- -->
                <button mat-menu-item [routerLink]="['/profile']">
                    <mat-icon>account_circle</mat-icon>Profile
                </button>
                <!-- --------ABOUT US-------------- -->
                <button mat-menu-item [routerLink]="['/about-us']">
                    <mat-icon>info</mat-icon>About Us
                </button>
                <!-- --------FAQ-------------------- -->
                <button mat-menu-item [routerLink]="['/faq']">
                    <mat-icon>question_answer</mat-icon>FAQ
                </button>
                <!-- --------HELP-SUPPORT------------ -->
                <button mat-menu-item [routerLink]="['/help-support']">
                    <mat-icon>help_center</mat-icon>Help&Support
                </button>
                <!-- --------LOGOUT-------------------- -->
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>Logout
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>
</div>