<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Admin Support
                            </h4>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="supportForm" novalidate (ngSubmit)="saveSupport()">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name<span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" [ngModel]="adminData.firstName"
                                                formControlName="firstName" class="form-control" disabled
                                                [ngClass]="{'is-invalid': submitted && frm.firstName.errors}">
                                            <div *ngIf="submitted && frm.firstName.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.firstName.errors.required">firstname is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name<span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" [ngModel]="adminData.lastName" formControlName="lastName"
                                                class="form-control" disabled
                                                [ngClass]="{'is-invalid': submitted && frm.lastName.errors}">
                                            <div *ngIf="submitted && frm.lastName.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.lastName.errors.required">lastname is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email<span class="text-danger">&nbsp;*</span></label>
                                            <input type="email" [ngModel]="adminData.email" formControlName="email"
                                                class="form-control" disabled
                                                [ngClass]="{'is-invalid': submitted && frm.email.errors}">
                                            <div *ngIf="submitted && frm.email.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.email.errors.required">email is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <!-- IMPLEMENT CHAT: -->
                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card chat-card">
                                            <div *ngFor="let support of supports">
                                                <div style="margin: 10px;"
                                                    [ngClass]="(support.userType=='Admin')?'float-sm-right':'float-left'">
                                                    <span>{{support.message}}</span><br>
                                                    <span>{{support.createdAt | date: 'medium'}}
                                                        <div class="float-sm-right text-info"
                                                            *ngIf="support.userType == 'Admin'">
                                                            <i class="mdi mdi-check-all"></i>
                                                        </div>
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="divider">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Reply</label>
                                            <textarea class="msg" class="form-control"
                                                formControlName="message"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-gradient-primary mr-2">Send</button>
                                <button class="btn btn-light" routerLink="/support">Cancel</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>