<div class="shopping-cart-conatiner">

    <div class="title">
        My Cart
    </div>

    <div *ngIf="cartData">

        <table class="table">
            <thead>
                <tr class="header">
                    <th class="img">Product Image</th>
                    <th class="name">Name</th>
                    <th class="price">Price</th>
                    <th class="quantity">Quantity</th>
                    <th class="total">Sub Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div class="body" *ngFor="let cart of cartData">

                        <div class="img">

                            <img class="productImg" src={{cart.imagePath}} alt={{cart.imagePath}}>
                        </div>
                        <div class="name">
                            <h3> {{cart.productName | titlecase}}</h3>
                            <p>Product Description Here.</p>
                        </div>
                        <div class="price">
                            {{cart.mrp | currency: 'INR'}}
                        </div>
                        <div class="quantity">
                            <span><i class="material-icons btn btn-success close-icon"
                                    (click)="decrement(cart._id, cart.quantity)">remove</i></span>

                            <input
                                style="height: 35px; width: 35px; margin-right: 5px; margin-left: 5px; text-align: center;"
                                type="text" size="1" [(ngModel)]=cart.quantity />

                            <span><i class="material-icons btn btn-success close-icon"
                                    (click)="increment(cart._id, cart.quantity)">add</i></span>
                        </div>
                        <div class="total">
                            {{cart.mrp * cart.quantity | currency: 'INR'}}
                        </div>
                        <div class="close">
                            <span>
                                <mat-icon class="material-icons delete-btn" (click)="deleteSingleCart(cart._id)">delete
                                </mat-icon>
                            </span>
                        </div>

                    </div>
                </tr>
                <div class="btn-group" *ngIf="cartData">
                    <button type="button" class="delete-cart" mat-raised-button (click)="deleteAllCart()">Delete all
                        Cart</button>
                </div>
            </tbody>
        </table>


        <div class="cart-total">
            <h2>CART SUMMARY</h2>
            <hr>
            <table style="width: 100%">
                <tr>
                    <td>Total</td>
                    <td>{{subTotal | currency: 'INR'}}</td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>{{delivery | currency: 'INR'}}</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>{{discount | currency: 'INR'}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>

                    <td>Total Amount</td>
                    <td><b>{{subTotal}}</b></td>
                </tr>
            </table>
            <div class="checkout-button">
                <button mat-stroked-button color="primary" class="button full-button" (click)="checkOut()">
                    PROCEED TO CHECKOUT
                </button>
            </div>
        </div>
    </div>

</div>