.card {
  margin: 20px;
  height: fit-content;
}

.cart-img {
  width: 200px;
}

.login-btn {
  background-color: #ffa500;
}

.second-card {
  background-color: lightgray;
}

.inner-card {
  padding: 10px;
}

.header {
  background-color: lightgray;
}
