<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Ticket No</td>
                                    <td>Question</td>
                                    <td>Date</td>
                                    <td>Reply</td>
                                    <td>Remove</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let support of supports; let i = index">
                                    <td *ngIf="supports[i]._id == support._id">{{i + 1}}</td>
                                    <td>{{support._id}}</td>
                                    <td>{{support.message}}</td>
                                    <td>{{support.createdAt | date}}</td>

                                    <td>
                                        <button class="btn btn-primary-outline" [routerLink]="['/support/addSupport']">
                                            <i class="mdi mdi-reply-all-outline mr-2 text-info"></i>
                                        </button>

                                    </td>
                                    <td>
                                        <button class="btn btn-primary-outline">
                                            <i class="mdi mdi-delete mr-2 text-danger"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>