.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px;
}

.card {
  padding: 5px;
  height: 500px;
}

.map {
  height: 400px;
}

.btn-group {
  display: contents;
  width: auto;
}

.spacer {
  flex: 1 1 auto;
}
