<div class="card main-card">
    <div class="card-header text-center">
        Grocery
    </div>

    <div class="card-item">
        <div class="row">
            <div class="col" style="margin-top: 10px;" *ngFor="let grocery of Groceries; let i = index">
                <div class="card">
                    <div class="card-body">
                        <img [src]="grocery.imagePath" alt="cart" class="card-img-top card-img">
                        <h5 class="card-title">{{grocery.productName}}</h5>
                        <p class="card-text">Price: {{grocery.mrp | currency: 'INR'}}</p>
                        <button mat-raised-button class="login-btn">Add to Cart</button>&nbsp;
                        <button mat-raised-button class="view-btn"
                            [routerLink]="['/grocery/groceryDetails',grocery._id]">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>