<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Frequently asked questions (FAQs)</h4>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body" *ngFor="let faq of faqs; let i =index">
                    <div class="row justify-content-center content">
                        <div class="col-md-8">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{faq.question}}
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>{{faq.answer}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>