<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-10 grid-margin stretch-card">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">
                                Register
                            </h4>
                            <hr>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="registerForm" novalidate (ngSubmit)="saveRegisterForm()">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name<span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" placeholder="Enter First Name"
                                                formControlName="firstName" class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.firstName.errors}">
                                            <div *ngIf="submitted && frm.firstName.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.firstName.errors.required">first name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name<span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" placeholder="Enter Last Name" formControlName="lastName"
                                                class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.lastName.errors}">
                                            <div *ngIf="submitted && frm.lastName.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.lastName.errors.required">last name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email<span class="text-danger">&nbsp;</span></label>
                                            <input type="email" placeholder="Enter Email" formControlName="email"
                                                class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.email.errors}">
                                            <div *ngIf="submitted && frm.email.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.email.errors.required">email is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Profile Image<span class="text-danger">&nbsp;</span></label>
                                            <input type="file" class="form-control file-upload-info"
                                                (change)="selectImage($event)" name="image" />
                                            <div class="input-group col-xs-12"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile Number<span class="text-danger">&nbsp;</span></label>
                                            <input type="number" placeholder="Enter Mobile Number"
                                                formControlName="mobileNo" class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.mobileNo.errors}">
                                            <div *ngIf="submitted && frm.mobileNo.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.mobileNo.errors.required">mobile number is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address<span class="text-danger">&nbsp;</span></label>
                                            <input type="address" placeholder="Enter Address" formControlName="address"
                                                class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.address.errors}">
                                            <div *ngIf="submitted && frm.address.errors"
                                                class="text-danger invalid-feedback">
                                                <div *ngIf="frm.address.errors.required">address is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Zip Code<span class="text-danger">&nbsp;</span></label>
                                            <input type="number" placeholder="Enter ZipCode" formControlName="zipCode"
                                                class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.zipCode.errors}">
                                            <div *ngIf="submitted && frm.zipCode.errors">
                                                <div *ngIf="frm.zipCode.errors.required">zipCode is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Password<span class="text-danger">&nbsp;</span></label>
                                            <input type="number" placeholder="Enter Password" formControlName="password"
                                                class="form-control"
                                                [ngClass]="{'is-invalid': submitted && frm.password.errors}">
                                            <div *ngIf="submitted && frm.password.errors">
                                                <div *ngIf="frm.password.errors.required">password is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn">
                                    <button type="submit" class="btn mat-raised-button mr-2"
                                        style="background-color: darkorange;">
                                        Register
                                    </button>
                                    <button class="btn btn-light" routerLink="/login">
                                        Already have an Account? Login
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>