<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title pull-left">Grocery</h4>
                        <a class="btn btn-primary float-right" routerLink="/grocery/addGrocery">
                            Add Grocery</a>
                    </div>
                    <!-- Show By Status: -->
                    <div class="row">
                        <div class="col-md-2">
                            <select #filter class='custom-select select-status'
                                (change)='onOptionsSelected(filter.value)'>
                                <option value="Available">Available </option>
                                <option value="Not Available">Not Available</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Product Image</td>
                                    <td>Product Name</td>
                                    <td>Product Category</td>
                                    <td>Product Rating</td>
                                    <td>Product MRP</td>
                                    <td>Product Status</td>
                                    <td>Product Quantity</td>
                                    <td>Total Amount</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let grocery of groceries; let i = index">
                                    <td *ngIf="groceries[i]._id == grocery._id">{{i + 1}}</td>
                                    <td><img [src]="grocery.imagePath" [alt]="grocery.productName"
                                            class="rounded-circle img"></td>
                                    <td>{{grocery.productName}}</td>
                                    <td>{{grocery.productCategory}}</td>
                                    <td>
                                        <ngb-rating [(rate)]="grocery.productRating" [readonly]="true" [max]="5"
                                            class="rating">
                                        </ngb-rating>
                                    </td>

                                    <td>{{grocery.mrp}}</td>
                                    <td><span class="badge badge-info">{{grocery.status}}</span></td>
                                    <td>{{grocery.quantity}}</td>
                                    <td>{{grocery.totalamount}}</td>

                                    <td>
                                        <button type="button" class="btn btn-sm btn-block btn-gradient-success"
                                            [routerLink]="['/grocery/editGrocery', grocery._id]">Edit</button>
                                        <button type="button" class="btn btn-sm btn-block btn-gradient-danger"
                                            (click)="deleteGrocery(grocery)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>