<div class="container-scroller">
    <!-- --------------------------FIRST SECTION-------------------------------- -->
    <mat-card class="main-card first-content">
        <!-- Card Header Content: -->
        <div class="header-section">
            <mat-card-header>
                <mat-card-title>Deals of the Day</mat-card-title>
                <div class="spacer"></div>
                <button mat-raised-button class="btn btn-primary">VIEW ALL</button>
            </mat-card-header>
        </div>
        <mat-divider class="divider"></mat-divider>

        <!-- Card Content: -->
        <div class="card-items">
            <div class="row">
                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>
            </div>
        </div>
    </mat-card>

    <!-- ------------------------SECOND SECTION-------------------------------- -->
    <div class="second-section">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 30rem;">
                    <img src="assets/images/samples/small/3.jpg" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 30rem;">
                    <img src="assets/images/samples/small/4.jpg" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 30rem;">
                    <img src="assets/images/samples/small/5.jpg" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------------THIRD SECTION------------------------------------ -->

    <mat-card class="main-card second-content">
        <!-- Card Header Content: -->
        <div class="header-section">
            <mat-card-header>
                <mat-card-title>Men's Clothing</mat-card-title>
                <div class="spacer"></div>
                <button mat-raised-button class="btn btn-primary">VIEW ALL</button>
            </mat-card-header>
        </div>
        <mat-divider class="divider"></mat-divider>

        <!-- Card Content: -->
        <div class="card-items">
            <div class="row">
                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

            </div>
        </div>
    </mat-card>

    <!-- -----------------------FOURTH SECTION-------------------------------- -->

    <mat-card class="main-card third-content">
        <!-- Card Header Content: -->
        <div class="header-section">
            <mat-card-header>
                <mat-card-title>Best of Appliances</mat-card-title>
                <div class="spacer"></div>
                <button mat-raised-button class="btn btn-primary">VIEW ALL</button>
            </mat-card-header>
        </div>
        <mat-divider class="divider"></mat-divider>

        <!-- Card Content: -->
        <div class="card-items">
            <div class="row">
                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>
            </div>
        </div>
    </mat-card>

    <!-- ----------------------FIFTH SECTION------------------------ -->

    <mat-card class="main-card fourth-content">
        <!-- Card Header Content: -->
        <div class="header-section">
            <mat-card-header>
                <mat-card-title>Footwear</mat-card-title>
                <div class="spacer"></div>
                <button mat-raised-button class="btn btn-primary">VIEW ALL</button>
            </mat-card-header>
        </div>
        <mat-divider class="divider"></mat-divider>

        <!-- Card Content: -->
        <div class="card-items">
            <div class="row">
                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>

                <div class="col-md-2">
                    <app-home-product-list>
                        <img src="assets/images/samples/small/8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">Card title</h6>
                            <p class="card-text d-flex justify-content-center">Price: {{500 | currency: 'INR'}}</p>
                        </div>
                    </app-home-product-list>
                </div>
            </div>
        </div>
    </mat-card>

</div>