<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <!-- DASHBOARD: -->
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- PRODUCTS: -->
    <li class="nav-item" [ngClass]="{ 'active': products.isActive }">
      <a class="nav-link" routerLink="/products" routerLinkActive #products="routerLinkActive">
        <span class="menu-title">Products</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- PRODUCT CATEGORIES: -->
    <li class="nav-item" [ngClass]="{ 'active': productCategories.isActive }">
      <a class="nav-link" routerLink="/productCategories" routerLinkActive #productCategories="routerLinkActive">
        <span class="menu-title">Product Categories</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- CUSTOMERS: -->
    <li class="nav-item" [ngClass]="{ 'active': customers.isActive }">
      <a class="nav-link" routerLink="/customers" routerLinkActive #customers="routerLinkActive">
        <span class="menu-title">Customers</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- CUSTOMERS: -->
    <li class="nav-item" [ngClass]="{ 'active': customersOrders.isActive }">
      <a class="nav-link" routerLink="/customersOrders" routerLinkActive #customersOrders="routerLinkActive">
        <span class="menu-title">Customers Orders</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

  </ul>
</nav>