<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <li class="nav-item" [ngClass]="{ 'active': productCategories.isActive }">
      <a class="nav-link" routerLink="/productCategories" routerLinkActive #productCategories="routerLinkActive">
        <span class="menu-title">Product Categories</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

  </ul>
</nav>